In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("data/Motor_Vehicle_Collisions_-_Crashes.csv")
df.head()

c:\users\prabo\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CRASH_DATE,CRASH_TIME,BOROUGH,ZIP_CODE,LATITUDE,LONGITUDE,LOCATION,ON_STREET_NAME,CROSS_STREET_NAME,OFF_STREET_NAME,...,CONTRIBUTING_FACTOR_VEHICLE_2,CONTRIBUTING_FACTOR_VEHICLE_3,CONTRIBUTING_FACTOR_VEHICLE_4,CONTRIBUTING_FACTOR_VEHICLE_5,COLLISION_ID,VEHICLE_TYPE_1,VEHICLE_TYPE_2,VEHICLE_TYPE_3,VEHICLE_TYPE_4,VEHICLE_TYPE_5
0,04/14/2020,11:00,NaN,NaN,NaN,NaN,NaN,VERRAZANO BRIDGE UPPER,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4309146.0,Sedan,C1,NaN,NaN,NaN
1,06/13/2016,17:10,NaN,NaN,NaN,NaN,NaN,STATEN ISLAND EXPY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3461754.0,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
2,06/13/2016,17:30,NaN,NaN,NaN,NaN,NaN,MAJOR DEEGAN EXPRESSWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3461325.0,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
3,08/02/2018,9:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,262 BRIGHTON 6 STREET,...,NaN,NaN,NaN,NaN,3953244.0,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
4,06/13/2016,18:00,NaN,NaN,NaN,NaN,NaN,WEST SHORE EXPRESSWAY,NaN,NaN,...,Unspecified,Unspecified,NaN,NaN,3461757.0,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN

In [3]:
df1 = df[["CRASH_DATE", "CRASH_TIME", "LATITUDE", "LONGITUDE"]]

In [4]:
df1.head()

   CRASH_DATE CRASH_TIME  LATITUDE  LONGITUDE
0  04/14/2020      11:00       NaN        NaN
1  06/13/2016      17:10       NaN        NaN
2  06/13/2016      17:30       NaN        NaN
3  08/02/2018       9:30       NaN        NaN
4  06/13/2016      18:00       NaN        NaN

In [5]:
del df

In [6]:
df1 = df1.dropna()

In [7]:
df1 = df1[df1["CRASH_DATE"].str.contains("2020")]

In [8]:
#df1 = df1[df1["CRASH_DATE"].str.startswith("03/")]

In [9]:
df1 = df1[df1.LATITUDE!=0]

In [10]:
df1 = df1.reset_index(drop=True)

In [11]:
df1.shape

(37372, 4)

In [12]:
df1.head()

   CRASH_DATE CRASH_TIME   LATITUDE  LONGITUDE
0  04/04/2020      22:52  40.669190 -73.885700
1  04/03/2020      17:45  40.732830 -73.974150
2  03/27/2020       0:00  40.875122 -73.905174
3  03/27/2020      19:15  40.693604 -73.822900
4  03/27/2020       9:55  40.809563 -73.929230

In [13]:
df = pd.read_csv("data/projetpietonnisation2017.csv")

In [14]:
df = df[["TYPE_AXE", "TOPONYME", "LATITUDE", "LONGITUDE"]]

In [15]:
#df = df[df["TYPE_AXE"]=="Rue"]

In [16]:
df = df.reset_index(drop=True)

In [17]:
df.shape

(53, 4)

In [18]:
dfm = pd.read_csv("data/lieuxculturels.csv")

In [19]:
dfm = dfm[["Arrondissement", "Ville", "Latitude", "Longitude"]]

In [20]:
dfm.rename(columns={"Arrondissement":"TYPE_AXE", "Ville":"TOPONYME",
                    "Latitude":"LATITUDE", "Longitude":"LONGITUDE"}, inplace=True)

In [21]:
dfr = pd.read_csv("data/fleuve_montagne_attractions.csv")

In [23]:
dfr = dfr[["categorie", "titre", "lat", "long"]]
dfr.rename(columns={"categories":"TYPE_AXE", "titre":"TOPONYME", "lat":"LATITUDE", "long":"LONGITUDE"}, inplace=True)

In [24]:
df = pd.concat([df, dfm, dfr])

In [25]:
from sklearn.utils import resample
df = resample(df, n_samples=df1.shape[0])
df = df.sample(frac=1)

In [26]:
df = df.reset_index(drop=True)

In [27]:
df1["LATITUDE"] = df["LATITUDE"]
df1["LONGITUDE"] = df["LONGITUDE"]

In [28]:
df1.head()

   CRASH_DATE CRASH_TIME   LATITUDE  LONGITUDE
0  04/04/2020      22:52  45.503256 -73.554304
1  04/03/2020      17:45  45.496527 -73.576410
2  03/27/2020       0:00  45.505565 -73.578653
3  03/27/2020      19:15  45.475510 -73.614579
4  03/27/2020       9:55  45.430985 -73.594433

In [29]:
df1.isna().sum()

CRASH_DATE    0
CRASH_TIME    0
LATITUDE      0
LONGITUDE     0
dtype: int64

In [30]:
df1.shape[0] == df.shape[0]

True

In [31]:
df1.rename(columns={"CRASH_DATE":"date", "CRASH_TIME":"time", "LATITUDE":"latitude", "LONGITUDE":"longitude"}, inplace=True)

In [32]:
df1.to_csv("toy_data.csv", index=False)

In [33]:
df1

             date   time   latitude  longitude
0      04/04/2020  22:52  45.503256 -73.554304
1      04/03/2020  17:45  45.496527 -73.576410
2      03/27/2020   0:00  45.505565 -73.578653
3      03/27/2020  19:15  45.475510 -73.614579
4      03/27/2020   9:55  45.430985 -73.594433
...           ...    ...        ...        ...
37367  01/17/2020  10:00  45.586646 -73.597193
37368  01/03/2020  17:15  45.502916 -73.554041
37369  01/03/2020  14:10  45.504150 -73.577278
37370  01/14/2020  17:10  45.504332 -73.573589
37371  01/07/2020  18:40  45.499989 -73.556182

[37372 rows x 4 columns]

In [34]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37372 entries, 0 to 37371
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       37372 non-null  object
 1   time       37372 non-null  object
 2   latitude   37372 non-null  float64
 3   longitude  37372 non-null  float64
dtypes: float64(2), object(2)
memory usage: 1.1+ MB

In [35]:
np.average(df1["longitude"])

-73.58556236317385

In [36]:
df1.head()

         date   time   latitude  longitude
0  04/04/2020  22:52  45.503256 -73.554304
1  04/03/2020  17:45  45.496527 -73.576410
2  03/27/2020   0:00  45.505565 -73.578653
3  03/27/2020  19:15  45.475510 -73.614579
4  03/27/2020   9:55  45.430985 -73.594433

https://donnees.montreal.ca/ville-de-montreal/rues-pietonnes <br>
https://donnees.montreal.ca/ville-de-montreal/lieux-culturels <br>
https://donnees.montreal.ca/ville-de-montreal/promenade-fleuve-montagne